.App {
  font-family: "Nunito", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.App-header .extras {
  margin-left: auto;
}




p {
  margin: 0;
}
.title {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 12px;
}
.sub-title {
  font-size: 16px;
  font-weight: 700;
  color: rgb(124, 124, 124);
  margin-bottom: 36px;
  max-width: 500px;
}
.highlight {
  color: #5ce198;
}